.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    background-color: var(--dark-black);
}
.dark-header {
    background-color: var(--soft-black);
}
.header--title {
    display: flex;
    align-items: center;
    color: rgb(240, 237, 237);
}
.header--title p{
    font-size: 1.2rem;
    width: 100px;
}
.header--title strong{
    height: 57px;
    font-size: 4rem;
    color: var(--soft-blue);
}
.mode--text {
    color: var(--dark-black);
    font-size: 1.8rem;
}
.mode--button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100px;
    font-size: 1.3rem;
    border-radius: 30px;
    border: none;
}
.theme {
    display: flex;
    align-items: center;
}
.theme--name {
    color: var(--white);
    font-size: 2rem;
    margin: 0 1rem;
}
.mode--button__selector {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    border-radius: 30px;
    background: var(--red);
    transform: translateX(0px);
    transition: transform .2s, background .2s;
}
.selector-dark {
    transform: translateX(50px);
    transition: transform .2s, background .2s;
    background: var(--green);
}

@media (max-width: 718px) {
    .header {
        flex-direction: column;
        height: 138px;
        
    }
    .header--title {
        flex-direction: column;
    }
}